/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: 'Poppins';
    font-weight: 400;
}

ul {
    list-style-type: none;
}

/* UTILITY */

.v-align-middle {
    vertical-align: middle;
}

.mr-5 {
    margin-right: 5px;
}

.my-5 {
    margin: 5px 0;
}

/* TXT */

.txt-white {
    color: white;
}

/* LAYOUT */

.w100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

.col-full {
    width: 100%;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

/* FLEX */

.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.align-self-end {
    align-self: flex-end;
}

/* MAIN */

/* LEFT SIDE */

#left-side {
    width: 230px;
    height: calc(100vh - 100px);
    background-color: #000000;
    padding: 15px;

}
/* SIDEBAR */

/* #sidebar {
    width: 80%;
} */

#sidebar>ul>li {
    padding: 15px 0;
}

/* MENÙ DELLE SEZIONI */

#menu-sections a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    filter: brightness(70%);
    transition: 0.5s;
    font-size: 14px;
}

#menu-sections a:hover {
    filter: none;
}

#home,
#search,
#library  {
    margin: 5px 0;
}

/* PLAYLIST */

#playlist h2 {
    text-transform: uppercase;
}

#playlist ul li {
    margin: 10px 0;
}

#playlist ul li a{
    vertical-align: middle;
    font-size: 14px;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    filter: brightness(70%);
    transition: 0.5s;
}

#playlist ul li a:hover {
    filter: none;
}

#playlist ul li a i {
    font-size: 60px;
    vertical-align: middle;
    margin-right: 5px;
}

/* USER SECTION */

#user a {
    display: flex;
    flex: wrap;
    align-items: center;
    color: white;
    text-decoration: none;
    filter: brightness(70%);
    transition: 0.5s;
}

#user a:hover {
    filter: none;
}

#user .col-20 i {
    font-size: 30px;
}

/* RIGHT SIDE */

/* HEADER */

header {
    height: 100px;
    width: calc(100vw - 230px);
    background-color: blue;
}

/* CONTENT */

.content {
    height: calc(100vh - 200px);
    width: calc(100vw - 230px);
    background-color: brown;
}

/* FOOTER */

footer {
    height: 100px;
    background-color: blueviolet;
}